[package]
name = "read-fonts"
version = "0.22.3"
description = "Reading OpenType font files."
readme = "README.md"
categories = ["text-processing", "parsing", "graphics"]

edition.workspace = true
license.workspace = true
repository.workspace = true

[package.metadata.docs.rs]
# To build locally:
# RUSTDOCFLAGS="--cfg docsrs" cargo +nightly doc --features libm,serde,std
features = ["libm", "serde", "std"]

[features]
std = ["font-types/std"]
codegen_test = []
scaler_test = []
# this feature is not stable, but provides untyped traversal of font tables.
# we do not consider this feature public API for the purposes of semver.
experimental_traverse = ["std"]
default = ["std"]
serde = ["dep:serde", "font-types/serde"]
libm = ["dep:core_maths"]

[dependencies]
font-types = { workspace = true, features = ["bytemuck"] }
serde = { version = "1.0", features = ["derive"], optional = true }
core_maths = { workspace = true, optional = true }
bytemuck = { workspace = true }

[dev-dependencies]
font-test-data = { workspace = true }
criterion = "0.5.1"
rand = "0.8.5"

[[bench]]
name = "int_set_benchmark"
harness = false

[[bench]]
name = "sparse_bit_set_benchmark"
harness = false
