[package]
name = "font-types"
version = "0.1.0"
edition = "2021"
license = "MIT/Apache-2.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
std = []
default = ["std"]

[dependencies]
zerocopy = "0.6"
#font-types-macro = { path = "../font-types-macro" }
